html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.wadah {
    width: 100%;
    height: 100%;

}

.wadah-2 {
    width: 100%;
    height: 60%;
    border: 3px solid;
    border-radius: 5px;
    border-color: rgb(184, 184, 184);
    background-color: #DCE1DE;
    color: white;
}

.wadah.relatif {
    position: relative;
}

.wadah.latar-belakang-primary{
    background-color: #1F2421;
}

.container-fluid.latar-belakang-3{
    background-color: #49A078;
}

.wadah.absolut{
    position: absolute;
}

.gambar {
    position: absolute;
    object-fit: contain;
    top: 0;
    right: 0;
}

.gambar.latar-belakang {
    width: 60%;
    height: 100%;
    background-image: url(./gambar/background_1.jpg);
    background-repeat: no-repeat;
    opacity: 85%;
}

.tindih {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,#1F2421 60%,90%,rgba(255, 255, 255, 0));
}

section {
    display: none;
}

section :target {
    display: block;
}

.button-nav {
    width: 75px;
    height: 75px;
    border: 2px solid;
    border-color: white;
    border-style: solid;
    border-radius: 100%;
    background-color: #49A078;
    font-family: Lobster;
    color: white;
}

.button-nav:hover {
    width: 90px;
    height: 90px;
    border: 2px solid;
    border-color: white;
    border-style: solid;
    border-radius: 100%;
    background-color: white;
    font-family: Lobster;
    font-size: 20px;
    color: #49A078;
}
.link-lobster {
    font-family: Lobster;
    color: white;
    font-size: 20px;
}

.link-lobster:hover,
.link-lobster:active,
.link-lobster:focus {
    border: 2px solid white;
    border-radius: 50px;
    color: white;
    background-color: wh;
}

.nav-link.active {
    border-radius: 50px;
    color :#49A078;
    
}

div.wrapper-flex {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    
}

div.grid-project {
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

}

@media (min-width:800px){
    div.grid-project {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}

@media (min-width:1000px){
    div.grid-project {
        display: grid;
        height: 350px;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }
}

div.grid-project > div {
    max-width: 500px;
    min-width: 300px;
    background-color: #f3f3f3;
    border-radius: 20px;
    padding: 1rem;
    box-shadow: 2px 2px 5px;
}

div.grid-project > div > h3 {
    font-family: Poppins;
}

div.grid-project > div > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 0;
}

div.grid-project > div > div > a {
    color: black;
    text-decoration: none;
}

div.grid-project > div > div > div {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: -5px;
}

div.grid-project > div > div:hover{
    border-radius: 10px;
    border: 1px solid #9CC5A1 ;
    background-color: #9CC5A1;
}

div.grid-project > div > div > div > badge {
    font-family: Poppins;
    font-size: 11px;
    border: 1px solid chartreuse;
    border-radius: 10px;
    color: darkblue;
    background-color: chartreuse;
    padding: 0 5px;
    margin: 0 2px;
}
div.grid-project > div > div > div > badge + badge {
    background-color: gray;
    border: grey;
    color: black;
    
}
div.grid-project > div > div > div > badge.belsai{
    border: 1px solid crimson;
    background-color: crimson;
    color: white;
}

/* style untuk gaya penulisan*/
.tulisan-sampul{
    margin-top: 30vh;
    margin-left: 20vw;
    margin-right: 25vw;
}
h1{
    font-size: 55px;
    font-family: "Lobster";
}
h3 {
    font-family: "Lobster";
}

h1 + h1{
    color: #49A078;
}
p {
    font-family: poppins;
    font-size: 15px;
    padding-left: 2vw;
}
p.putih , h3.putih{
    color: white;
}
p.unwarp{
    white-space: nowrap;
}

.cover-font{
    padding: 5px;
}
.cover-font.putih{
    color: white;
}
.cover-font .hijau {
    color: #49A078;
}

a {
    color: white;
    padding: 10px;
}

a.medsos {
    color: white;
    padding: 0;
    font-size: 15px;
    font-family: Poppins;
    text-decoration: none;
}

a.medsos:hover {
    font-size: 17px;
    text-decoration: underline;
}
li {
    color: white;
    font-family: Poppins;
    font-size: 15px;
    padding: 3px;
}

li + li.garis {
    border-top: 1px solid;
    border-color: white;
}

.cite-footer-putih{
    font-family: Poppins;
    font-size: 12px;
    color: white;
}

.cite-content-putih {
    font-family: Poppins;
    font-size: 14px;
    color: white;
}
.tepi-tumpul{
    border-radius: 10%;
}
.justify{
    text-align: justify;
}
p.legasi , i.legasi {
    font-size: 12px;
    color: white;
}